*{
    padding: 0;
    margin: 0;
    background-color: blueviolet;
}
header{
    width: 100%;
    height: 340px;
    display: block;
    float: left;
    background-image: url('https://www.sabornamesa.com.br/media/k2/items/cache/5031e263a4a258791d6306b2d3d9dbf6_XL.jpg');
}